@font-face {
  font-family: 'UntitledSans-Bold';
  src: url("../fonts/untitled-sans/untitled-sans-web-bold.eot");
  src: url("../fonts/untitled-sans/untitled-sans-web-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/untitled-sans/untitled-sans-web-bold.woff2") format("woff2"), url("../fonts/untitled-sans/untitled-sans-web bold.woff") format("woff"); }

@font-face {
  font-family: 'UntitledSans-Medium';
  src: url("../fonts/untitled-sans/untitled-sans-web-medium.eot");
  src: url("../fonts/untitled-sans/untitled-sans-web-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/untitled-sans/untitled-sans-web-medium.woff2") format("woff2"), url("../fonts/untitled-sans/untitled-sans-web-medium.woff") format("woff"); }

@font-face {
  font-family: 'UntitledSans-Regular';
  src: url("../fonts/untitled-sans/untitled-sans-web-regular.eot");
  src: url("../fonts/untitled-sans/untitled-sans-web-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/untitled-sans/untitled-sans-web-regular.woff2") format("woff2"), url("../fonts/untitled-sans/untitled-sans-web-regular.woff") format("woff"); }

@font-face {
  font-family: 'UntitledSans-RegularItalic';
  src: url("../fonts/untitled-sans/untitled-sans-web-regular-italic.eot");
  src: url("../fonts/untitled-sans/untitled-sans-web-regular-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/untitled-sans/untitled-sans-web-regular-italic.woff2") format("woff2"), url("../fonts/untitled-sans/untitled-sans-web-regular-italic.woff") format("woff"); }

@font-face {
  font-family: 'Triptych-Grotesque';
  src: url("../fonts/triptych/Triptych-Grotesque.eot");
  src: url("../fonts/triptych/Triptych-Grotesque.eot?#iefix") format("embedded-opentype"), url("../fonts/triptych/Triptych-Grotesque.woff2") format("woff2"), url("../fonts/triptych/Triptych-Grotesque.woff") format("woff"), url("../fonts/triptych/Triptych-Grotesque.ttf") format("truetype"); }

body {
  background: #f2eeeb;
  font-family: "UntitledSans-Regular", sans-serif; }

h1 {
  margin-bottom: 2rem;
  font-family: "Triptych-Grotesque", sans-serif; }

h2 {
  font-family: "Triptych-Grotesque", sans-serif;
  font-size: 1.625rem;
  color: rgba(0, 0, 0, 0.85); }
h2.section-title-noline {
  margin-bottom: 1.5rem; }

h3 {
  font-family: "Triptych-Grotesque", sans-serif;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.85);
  margin-top: 0;
  margin-bottom: 1rem; }
h3.image-title {
  font-family: "UntitledSans-Bold", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 1.5rem; }

h4 {
  font-family: "Triptych-Grotesque", sans-serif;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.85);
  margin-top: 2rem; }

h6 {
  color: #fb5027;
  font-size: 10.7px;
  letter-spacing: .77px;
  line-height: 2;
  text-transform: uppercase;
  font-family: "Triptych-Grotesque", sans-serif;
  margin-top: 1rem; }

em, i {
  font-family: "UntitledSans-RegularItalic", sans-serif; }

tbody tr th {
  border-bottom: none; }

tr, td, th {
  font-size: .875rem;
  color: #000000;
  background: #f2eeeb;
  vertical-align: top;
  font-family: "UntitledSans-Regular", sans-serif; }

th {
  font: "UntitledSans-Medium", sans-serif; }

tr td:first-child {
  border-right: 1px solid #777;
  padding-bottom: 1rem; }

tr th {
  border-bottom: 1px solid #777;
  font-family: "UntitledSans-Medium", sans-serif; }
tr th:first-child {
  border-right: 1px solid #777;
  padding-bottom: 1rem; }

tr.empty, tr.noDataLine {
  border: none; }
tr.empty td, tr.noDataLine td {
  border: none; }

tr .cell-alert {
  width: 20%; }

tr .qcap.align-top {
  padding-top: 1rem;
  font-size: 1rem; }

tr.small th {
  font-size: .75rem;
  padding-top: 1rem;
  font-family: "UntitledSans-RegularItalic", sans-serif;
  vertical-align: bottom; }

tr.no-border th {
  border-bottom: none; }

.btn {
  border-radius: 0;
  font-family: "UntitledSans-Medium", sans-serif; }

.btn-primary {
  background: #2065cc;
  font-size: 1.125rem; }

.btn-clear {
  color: #2065cc;
  padding: 0; }

.btn-danger {
  background: #fa5027; }

.site-title a span {
  white-space: nowrap; }

/* Layout */
header {
  width: 100%;
  padding: 2rem 0 2rem 4rem; }

.row {
  max-width: 102rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem; }
.row.tool-title {
  padding-top: 0;
  margin-left: 2rem; }

.intro-container {
  background: white; }
.intro-container .intro-content {
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
  padding-bottom: 4rem; }
.intro-container .intro-content .col-sm-4 {
  padding-left: 0; }

.site-title a {
  font-size: 1.25rem;
  font-family: "Triptych-Grotesque", sans-serif;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none; }
.site-title a span {
  white-space: nowrap; }
